*~
*.swp
*.swo
a.out
*.out
*.core
*.o
BenchmarkApplications/benchmarks/spmv/spmv_rule
BenchmarkApplications/benchmarks/spmv/spmv
BenchmarkApplications/benchmarks/spmv/1
BenchmarkApplications/benchmarks/spmv/1.out
BenchmarkApplications/benchmarks/spmv/10.out
BenchmarkApplications/benchmarks/spmv/11.out
BenchmarkApplications/benchmarks/spmv/2.out
BenchmarkApplications/benchmarks/spmv/4.out
BenchmarkApplications/benchmarks/spmv/5.out
BenchmarkApplications/benchmarks/spmv/6.out
BenchmarkApplications/benchmarks/spmv/7.out
BenchmarkApplications/benchmarks/spmv/8.out
BenchmarkApplications/benchmarks/spmv/9.out
BenchmarkApplications/benchmarks/spmv/10
BenchmarkApplications/benchmarks/spmv/11
BenchmarkApplications/benchmarks/spmv/4
BenchmarkApplications/benchmarks/spmv/7
BenchmarkApplications/benchmarks/spmv/9
BenchmarkApplications/benchmarks/spmv/2
BenchmarkApplications/benchmarks/spmv/5
BenchmarkApplications/benchmarks/spmv/6
BenchmarkApplications/benchmarks/spmv/8
BenchmarkApplications/benchmarks/mm/mm_naive
BenchmarkApplications/benchmarks/mm/surf_1D
BenchmarkApplications/benchmarks/mm/mm_shmem
BenchmarkApplications/benchmarks/mm/mm
BenchmarkApplications/benchmarks/mm/1
BenchmarkApplications/benchmarks/mm/3
BenchmarkApplications/benchmarks/mm/6
BenchmarkApplications/benchmarks/mm/8
BenchmarkApplications/benchmarks/mm/0
BenchmarkApplications/benchmarks/mm/mm_rule
BenchmarkApplications/benchmarks/mm/surface
BenchmarkApplications/benchmarks/cfd/cfd_rule
BenchmarkApplications/benchmarks/cfd/cfd_new
BenchmarkApplications/benchmarks/cfd/cfd
BenchmarkApplications/benchmarks/cfd/6_overhead
BenchmarkApplications/benchmarks/cfd/1
BenchmarkApplications/benchmarks/cfd/2
BenchmarkApplications/benchmarks/cfd/3
BenchmarkApplications/benchmarks/cfd/4
BenchmarkApplications/benchmarks/cfd/5
BenchmarkApplications/benchmarks/cfd/6
BenchmarkApplications/benchmarks/cfd/7
